<div class="row">
  <div class="col-md-4">
    <img src="https://avatars1.githubusercontent.com/u/19313399?v=3&s=460" alt="author" width="150px">
  </div>
  <div class="col-md-6">
    <p>
      <strong>Created by: <br> mgkOV</strong>
    </p>
    <a href="https://www.facebook.com/mgkov" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://vk.com/id4344131" target="_blank"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
    <a href="https://github.com/mgkOV" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.freecodecamp.com/mgkov" target="_blank"><i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></a>
  </div>
</div>
