<h2>Last URL</h2>
<table class="table">
  <thead>
    <tr>
      <th>URL</th>
      <th>Short Link</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        1111
      </td>
      <td>
        2112222
      </td>
      <td>
        2222111
      </td>
    </tr>
  </tbody>
</table>
